*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    

}
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;700&family=Mulish:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,400;1,500&display=swap');
.main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Background-Img.webp);
    background-size: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title{
    margin-top: 20px;
    color: white;
    align-items: center;
    font-size: 2.5rem;
    
    
}
.col{
    margin-top: 10%;
    display: flex;
    width: 90%;
    justify-content: center;
    color: white;

}
.col div{

    width: 250px;
    text-align: center;

}

input{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    background-color: rgba(255, 2555 255, 0.9);
    text-align: center;
    font-size: 30px;
    color: white;

}